<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/upload.css') }}" />
</head>

<body>
    <div class="upload">
        <div class="upload-files">
            <header>
                <p>
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    <span class="up">up</span>
                    <span class="load">load</span>
                </p>
            </header>
            <div class="body" id="drop">
                <i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i>
                <p class="pointer-none"><b>Drag and drop</b> du fichier ici <br /> ou <a href=""
                        id="triggerFile">browse</a> pour commencer l'upload</p>
                <input type="file" accept=".xls" />
            </div>
            <footer>
                <div class="divider">
                    <span>
                        <AR>Fichier</AR>
                    </span>
                </div>
                <div class="list-files">
                    <!--   template   -->
                </div>
                <div class="result-images">
                    <img id="result" src="https://i.giphy.com/media/HX3lSnGXZnaWk/giphy.webp" width="100%"  style="display: none" >
                </div>            
                <button class="importar">Recommencer</button>
            </footer>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</body>

</html>